<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span> <mat-icon>storefront</mat-icon> Cafe Management System</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="forgotPasswordForm">
        <div fxFlex fxLayout="column">

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
                    <span *ngIf="forgotPasswordForm.controls.email.errors.required">Email is required</span>
                    <span *ngIf="forgotPasswordForm.controls.email.errors.pattern">Email is invalid</span>
                </mat-error>
                <div>
                </div>
            </mat-form-field>
        </div>
    </form>

</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="primary" style="width: auto;" [mat-dialog-close]="forgotPasswordForm.value" cdkFocusInitial (click)="handleSubmit()">Send Password</button>
</mat-dialog-actions>